#:schema https://docs.jj-vcs.dev/latest/config-schema.json
#
# Jujutsu configuration.

[aliases] 
di = ["diff"]
e = ["edit"]

# Remote bookmarks applied directly to my changes.
lb = ["log", "-r", "remote_bookmarks() & mine()", "--no-graph", "-T", "bookmark_list"]

[user]
name = "Jeff Schwab"
email = "jeff@unbuggy.com"

[revset-aliases]
"trunk()" = "latest(present(dev@origin) | present(main@origin) | present(master@origin) | present(trunk@origin))"

# Local bookmarks, plus heads I authored, minus heads I've "archived" by
# slapping `ar/` prefixed remote bookmarks on them.
#
# TODO: Alias `ar` to archive a bookmark: rename, push, untrack, delete.
'active_heads()' = 'bookmarks() | (visible_heads() & mine()) ~ remote_bookmarks(glob:"ar/*")'
'interesting()' = '@ | trunk() | active_heads()'

[template-aliases]
bookmark_list = '''
separate("\t", change_id.short(), commit_id.short(), bookmarks) ++ "\n"
'''

[ui]
default-command = ["log", "-r", "fork_point(interesting())::interesting()"]
# default-command = ["log", "-r", "@ | trunk() | bookmarks() ~ bookmarks(glob:ar/*)"]
