# Jujutsu configuration.

[aliases] 
di = ["diff"]
e = ["edit"]
lb = ["log", "-r", "remote_bookmarks() & mine()", "--no-graph", "-T", "bookmark_list"]

[revset-aliases]
"trunk()" = "latest(present(dev@origin) | present(main@origin) | present(master@origin) | present(trunk@origin))"

[template-aliases]
bookmark_list = '''
separate("\t", change_id.short(), commit_id.short(), bookmarks) ++ "\n"
'''

# [templates]
# log = 'builtin_log_comfortable'

# [template-aliases]
# "format_timestamp(timestamp)" = ''
# "format_short_signature(signature)" = ''
