[[language]]
name = "bash"
file-types = [
  "sh",
  "bash",
  "zsh",
  { glob = "zprofile" },
  { glob = "zshrc" },
  { glob = ".zprofile" },
  { glob = ".zsh{env,login,rc}" },
]
formatter = { command = "shfmt" }
rulers = [81]

[[language]]
name = "yaml"
# Obsidian (data)base files are `*.base`.
file-types = ["base", "yaml", "yml"]

[[language]]
name = "git-ignore"
file-types = [{ glob = ".gitignore" }, { glob = "gitexcludes" }]

# [[language]]
# name = "html"
# rulers = [81]

[[language]]
name = "json"
# indent = { tab-width = 4, unit = "  " }
roots = ["deno.json", "deno.jsonc", "package.json"]
file-types = ["json"]
auto-format = true
language-servers = ["deno-lsp"]

[[language]]
# "JSON with comments."
name = "jsonc"
indent = { tab-width = 4, unit = "  " }

[[language]]
name = "markdown"
soft-wrap.wrap-indicator = ""
language-servers = []

[language.auto-pairs]
'(' = ')'
'{' = '}'
'[' = ']'
'"' = '"'
'<' = '>'

[[language]]
name = "move"
language-servers = ["move-analyzer"]
formatter = { command = "prettier-move", args = ["-w", "--parser=move"] }

[[language]]
name = "rust"
rulers = [81, 101]
language-servers = ["scls", "rust-analyzer"]

# The Rust LSP has some magic whereby it knows to match `<` for generics, but
# not when preceded by whitespace (as in a `<=` comparison). Setting auto-pairs
# breaks that magic.
# auto-pairs = { '(' = ')', '{' = '}', '[' = ']', '"' = '"', '<' = '>' }

[language-server.sqls]
command = "sqls"

[[language]]
name = "sql"
language-servers = ["sqls"]

# [[language]]
# name = "toml"
# formatter = { command = "taplo", args = ["fmt", "-"] }

[language-server.emmet-ls]
args = ["--stdio"]
command="emmet-ls"

[[language]]
name = "html"
language-servers = ["vscode-html-language-server", "emmet-ls"]

# I use emmet-ls rather than emmet-lsp, because the former supports :format.
#
# [language-server.emmet-lsp]
# command = "emmet-language-server"
# args = ["--stdio"]
#
# [[language]]
# name = "html"
# roots = [".git"]
# language-servers = ["emmet-lsp"]

[language-server.move-analyzer]
command = "move-analyzer"

[language-server.rust-analyzer.config.rust-analyzer]
check = { command = "clippy", args = ["--all-targets", "--workspace"] }

# Project-specific lints can be configured in Cargo.toml and clippy.toml.
# check = { command = "clippy", extraArgs = ["--", "-W", "clippy::pedantic"] }

[language-server.rust-analyzer.config.rust-analyzer.diagnostics]
disabled = [
  "inactive-code",
  # Some log macro syntax confuses the heck out of Rust Analyzer.
  # I think it's the [stuctured logging][1]:
  #
  # > * `:?` will capture the value using Debug.
  # > * `:%` will capture the value using Display.
  #
  # [1]: https://docs.rs/log/latest/log/kv/index.html#structured-logging-in-log
  "macro-error"
]

[language-server.rust-analyzer.config.rust-analyzer.imports.granularity]
# https://rust-analyzer.github.io/book/features.html
group = "crate"

[language-server.scls]
command = "simple-completion-language-server"

# https://docs.deno.com/runtime/getting_started/setup_your_environment/
[[language]]
name = "typescript"
roots = ["deno.json", "deno.jsonc", "package.json"]
file-types = ["ts", "tsx"]
auto-format = true
language-servers = ["deno-lsp"]

[[language]]
name = "javascript"
roots = ["deno.json", "deno.jsonc", "package.json"]
file-types = ["js", "jsx"]
auto-format = true
language-servers = ["deno-lsp"]

[language-server.deno-lsp]
command = "deno"
args = ["lsp"]
config.deno.enable = true

[language-server.pyright]
command = "pyright-langserver"
args = ["--stdio"]

[language-server.ruff]
command = "ruff"
args = ["server"]

[[language]]
name = "python"
language-servers = [
  { name = "pyright", except-features = ["format", "diagnostics"] },
  "ruff",
]
auto-format = true

