[[language]]
name = "bash"
file-types = [
  { glob = "zprofile" },
  { glob = "zshrc" },
  { glob = ".zprofile" },
  { glob = ".zsh{env,login,rc}" },
  { glob = "*.sh" },
  { glob = "*.{ba,z}sh" },
]
formatter = { command = "shfmt" }
rulers = [81]

[[language]]
name = "git-ignore"
file-types = [{ glob = ".gitignore" }, { glob = "gitexcludes" }]

# [[language]]
# name = "html"
# rulers = [81]

[[language]]
name = "json"
indent = { tab-width = 4, unit = "  " }

[[language]]
name = "markdown"
auto-pairs = { '(' = ')', '{' = '}', '[' = ']', '"' = '"', '<' = '>' }

[[language]]
name = "move"
language-servers = ["move-analyzer"]

[[language]]
name = "rust"
rulers = [81, 101]
language-servers = ["scls", "rust-analyzer"]

# The Rust LSP has some magic whereby it knows to match `<` for generics, but
# not when preceded by whitespace (as in a `<=` comparison). Setting auto-pairs
# breaks that magic.
# auto-pairs = { '(' = ')', '{' = '}', '[' = ']', '"' = '"', '<' = '>' }

[[language]]
name = "sql"
formatter = { command = "pg_format" }

# [[language]]
# name = "toml"
# formatter = { command = "taplo", args = ["fmt", "-"] }

[language-server.emmet-ls]
args = ["--stdio"]
command="emmet-ls"

[[language]]
name = "html"
language-servers = ["vscode-html-language-server", "emmet-ls"]

# I use emmet-ls rather than emmet-lsp, because the former supports :format.
#
# [language-server.emmet-lsp]
# command = "emmet-language-server"
# args = ["--stdio"]
#
# [[language]]
# name = "html"
# roots = [".git"]
# language-servers = ["emmet-lsp"]

[language-server.move-analyzer]
command = "move-analyzer"

[language-server.rust-analyzer.config.rust-analyzer]
check = { command = "clippy", extraArgs = ["--", "-W", "clippy::pedantic"] }

[language-server.rust-analyzer.config.rust-analyzer.diagnostics]
disabled = [
  "inactive-code",
  # Some log macro syntax confuses the heck out of Rust Analyzer.
  # I think it's the [stuctured logging][1]:
  #
  # > * `:?` will capture the value using Debug.
  # > * `:%` will capture the value using Display.
  #
  # [1]: https://docs.rs/log/latest/log/kv/index.html#structured-logging-in-log
  "macro-error"
]

[language-server.rust-analyzer.config.rust-analyzer.imports.granularity]
# https://rust-analyzer.github.io/book/features.html
group = "crate"

[language-server.scls]
command = "simple-completion-language-server"
